html,body{
	width : 100%;
	height:100%;
}
#upper-box {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    width: 100%;
    height: 150px;
    background-color: #3E606F;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    color: #eee;
	font-family: 'Open Sans', sans-serif;
}

.backbutton {
	position:absolute;
	top:55px;
    font-size: 40px;
    background-color: #3E606F;
    color: #eee;
    display: inline-block;
    border: none;
    outline: none;
}

.backbutton:hover {
	color: black;
}

#title {
	position : absolute;
	left : 80px;
	top : 40px;
	font-size : 50px;
}

#homeButton {
	position : absolute;
	right : 2%;
	top: 5%;
	font-size : 20px;
	font-weight : bold;
	background : #ffffff;
	border-radius : 0.5em;
	padding : 3px 10px;
}

#middle {
    position: absolute;
    top: 160px;
    left: 0px;
    padding: 30px;
    width: 100%;
    height: 500px;
}

#penta{
	position : absolute;
	width : 100%;
	top : 5%;
}
.pentagon {
    position: absolute;
    left:30%;
    top:30px;
    width: 350px;
    height: 350px;
    background-image: url(pentagon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
}

#top{
	position : absolute;
	width : 100%;
	left : 30%;
	top : 0%;
}
#mid{
	position : absolute;
	width : 100%;
	left : 30%;
	top : 100px;
}
#bot{
	position : absolute;
	width : 100%;
	left : 30%;
	top : 300px;
}
	
.aspect{
	position : absolute;
	margin : auto;
	background : white;
	border : 4px solid #555555;
	width : 90px;
	height : 90px;
	border-radius : 70px;
	text-align : center;
	vertical-align : middle;
	z-index : 2;
	margin : auto auto;
	line-height : 80px;
}



#Production{
	position : absolute;
	top : 2%;
	left : 120px;
}	

#Acting{
	position : absolute;
	top : 20%;
	left : -25px;
}

#Synopsis{
	position : absolute;
	top : 20%;
	left : 280px;
}

#Music{
	position : absolute;
	top : 55%;
	left : 30px;
}

#Visual{
	position : absolute;
	top : 55%;
	left : 230px;
}

#content{
	width : 100%;
	height : 300px;
}


#okdiv{
	position : absolute;
	width : 70%;
	right: 15%;
	bottom : 20%;
}

#deletediv{
	position : absolute;
	width : 70%;
	right: 15%;
	bottom : 20%;
}

.ok {
    position: absolute;
    letter-spacing: 3px;
	right : 200px;
    font-size: 25px;
    border: 3px solid;
    border-color: #3E606F;
    width: 150px;
    height: 100px;
    background-color: white;
    color: #3E606F;
    font-weight: bold;
}

.ok:hover {
    background-color: #3E606F;
    color: #eee;
    border-color: #eee;
}


.ok:disabled{
	border: 3px solid #eee;
  color: #eee;
}

.delete {
    position: absolute;
    right: 20px;
    letter-spacing: 3px;
    font-size: 25px;
    border: 3px solid;
    border-color: darkred;
    width: 150px;
    height: 100px;
    background-color: white;
    color: darkred;
    font-weight: bold;
}

.delete:hover {
    background-color: darkred;
    color: #eee;
    border-color: #eee;
}


.delete:disabled{
	border: 3px solid #eee;
  color: #eee;
}
