body{
	padding : 0px;
	margin : 0px;
}

#taskbar{
	width:100%;
	height:100px;
	text-align:center;
	background-color:#A3FFF9;
	display:inline-block;
	margin:0 auto;
}
#back{
	position : absolute;
	top : 30px;
	left : 5%;
	margin-left : 3px;
}

#backbutton{
	
}

#input_position{
	padding-left : 40px;
	padding-top : 20px;
}

#pentagon {
      position: relative;
      width: 280px;
      box-sizing: content-box;
      border-width: 300px 100px 0;
      border-style: solid;
      border-color: #C4FFB5 transparent;
	  margin : auto;
	  margin-top : 170px;
    }

#pentagon:before {
      content: "";
      position: absolute;
      height: 0px;
      width: 0;
      top: -440px;
      left: -100px;
      border-width: 0 240px 140px;
      border-style: solid;
      border-color: transparent transparent #C4FFB5;
    }
.aspect{
	position : absolute;
	margin : auto;
	background : blue;
	border-radius : 20px;
}
#Production{
	
}	

#Acting{
}

#Synopsis{
}

#Music{
}

#Visual{
}

#OK_position{
	float:center;
}

#OK{
	background-color : DodgerBlue;
	border : none;
	color: white;
	padding : 12px 16px;
	font-size:16px;
	cursor : pointer;
	margin-top : 30px;
	width : 80%;
	height : 40px;
	margin-left:auto;
	margin-right:auto;
}

#OK:hover{
	background-color : RoyalBlue;
}

#OK:disabled{
	border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}