html,body{
	height : 95%;
	width : 95%;
}
#middle {
	width : 100%;
    height : 100%;
	top : 0%;
	left : 0%;
	overflow : hidden;
	position: absolute;
	text-align : center;
	display:block;
	
}

#search {
	background-color: #eee;
    color:#3E606F;
	width:50%;
	height:100%;
	float: left;
	text-align:center;
	font-size:80px;
	padding: 100px 0px;
    letter-spacing: 3px;
	font-family: 'Open Sans', sans-serif;

}

#write {
    background-color: #3E606F;
    color: #eee;
    width: 50%;
	height: 100%;
    float: left;
    text-align: center;
    font-size: 80px;
    padding: 100px 0px;
    letter-spacing: 3px;
    z-index: 1;
	font-family: 'Open Sans', sans-serif;

}
#profile {
	background-color:#3E606F;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
    background-image:url(./profile/profile1.png);
	position: absolute;
	width: 155px;
	height : 170px;
	right: 2px;
	bottom: 2px;
	text-align:center;
	margin-right : 1%;
	margin-bottom: 1%;
    z-index : 3;
    color:black;
}
#supp1, #supp2 {
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
}
#supp1{

    left : 25%
}
#supp2{
    left:25%
}

#font {
    font-family: 'Overpass', sans-serif;
}