

#middle {
	width : 100%;
	position: absolute;
	text-align : center;
}

#search {
	background-color: #eee;
    color:darkturquoise;
	width:49%;
	height:430px;
	float: left;
	text-align:center;
	font-size:60px;
	padding: 100px 0px;
    letter-spacing: 3px;

}

#write {
    background-color: darkturquoise;
    color: #eee;
    width: 50%;
    height: 430px;
    float: left;
    text-align: center;
    font-size: 60px;
    padding: 100px 0px;
    margin-left: 0%;
    letter-spacing: 3px;
    z-index: 1;
}
#profile {
	background-color:darkturquoise;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
    background-image:url(profile1.png);
	position: absolute;
	width: 155px;
	height : 170px;
	right: 0px;
	bottom: 0px;
	text-align:center;
	margin-right : 1%;
	margin-bottom: 1%;
    z-index : 3;
    color:black;
}
#font {
    font-family: 'Overpass', sans-serif;
}