.header {
  background : #95e89e;
}

.profileImg{
	margin-bottom : 10px;
}

#button {
  margin-left : 10px;
  font-size : 20px;
  font-weight : bold;
  background : #ffffff;
  border-radius : 0.5em;
  padding : 3px 10px;
}

#hashtag {
  font-size : 25px;
}

#homeButton {
  position : absolute;
  top : 5%;
  right : 5%;
  font-size : 20px;
  font-weight : bold;
  background : #ffffff;
  border-radius : 0.5em;
  padding : 3px 10px;
}

#plusButton {
  font-size : 20px;
  font-weight : bold;
  background : #ffffff;
  border-radius : 0.5em;
  padding : 5px 10px;
}

h1 {
  font-size : 50px;
}

h2 {
  margin-left : 50px;
  font-size : 50px;
}

.reviewImg {
  margin-left : 30px;
}

h3 {
  text-decoration : underline;
  margin-right : 20px;
}

.collection {
  font-size : 45px;
  font-weight : bold;
  position : absolute;
  top : 25%;
  right : 10%;
  margin-top : 22px;
  border: 1px solid;
  padding : 20px;
}
