html,body{
	width : 95%;
	height : 95%;
}

#upper-box {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0px;
	width: 100%;
	height: 150px;
	background-color: #3E606F;
	text-align: left;
	font-size: 40px;
	font-weight: bold;
	color : #eee;
	font-family: 'Open Sans', sans-serif;
}

.backbutton {
	font-size: 50px;
	background-color :#3E606F;
	color: #eee;
	display: inline-block;
	border : none;
	outline : none;
    position :absolute;
    top : 32%;
}

.backbutton:hover{
	color: black;
	cursor : pointer;
}

#title {
	position : absolute;
	left : 80px;
	top : 40px;
	font-size : 50px;
}

#homeButton {
    position: absolute;
    top: 10%;
    right: 2%;
    font-size: 40px;
    background-color: #3E606F;
    color: #eee;
    font-weight: bold;
    border: none;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

#homeButton:hover{
	cursor : pointer;
	color : #aaa;
}
#middle {
	position : absolute;
	top: 160px;
	left: 0px;
	width : 100%;
	height : 50%;
}

.cate {
	font-size: 30px;
	border: none;
	outline: none;
	width: 250px;
	height: 100px;
	color: #eee;
	letter-spacing: 3px;
	font-weight: bold;
	position : absolute;
	top : 28%;
	left : 5%;
}

.cate-skip {
    font-size: 30px;
    border: 3px solid #3E606F;
    border-color: #3E606F;
    width: 250px;
    height: 125px;
    background-color: white;
    color: #3E606F;
    letter-spacing: 3px;
    font-weight: bold;
	position : absolute;
	top : 25%;
	left : 20%;
}


.aspe {
    border: none;
    outline: none;
    width: 400px;
    height: 200px;
    background-image: url(go_to_choose_aspects.png);
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
	position : absolute;
	top : 20%;
	left : 47%;
}

.aspe-skip {
	font-size: 30px;
	border: 3px solid #3E606F;
	border-color : #3E606F;
	width: 250px;
	height: 125px;
	background-color: white;
	color: #3E606F;
	letter-spacing: 3px;
	font-weight: bold; 
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
	position : absolute;
	top : 25%;
	left : 70%;
}
.aspe-skip:disabled {
        font-size: 30px;
        color: #eee;
        border:none;
        background-color:#ddd;
        width: 250px;
        height: 125px;
        letter-spacing: 3px;
        font-weight: bold;
}

.aspe:hover {
    background-image: url(go_to_choose_aspects_hover.png);
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100%;
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.aspe-skip:hover:enabled {
    background-color: #3E606F;
    color: #eee;
    border-color: #eee;
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.ok {
	position: absolute;
	letter-spacing: 3px;
	font-size: 25px;
	border: 3px solid;
	border-color: #3E606F;
	width: 150px;
	height: 100px;
	background-color: white;
	color: #3E606F;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
}

.ok:hover {
	background-color: #3E606F;
	color: #eee;
	border-color: #eee;
	cursor : pointer;

}

.ok:disabled,
ok[disabled]{
	border: 3px solid;
	border-color: #eee;
	background-color: white;
	cursor : default;
	color: #eee;
	font-weight:bold;
}
#okdiv{
	position : absolute;
	float : right;
	right : 25%;
	bottom : 5%;
}
#arrow {
	position:absolute;
	left:38%;
	top : 26%;
	font-size : 120px;
	color: #3E606F;
}

#categoryImg {
	height : 175px;
	width : 175px;
	position : absolute;
	top : 57%;
	left : 22%;
}