.upper-box {
	padding: 30px;
	background-color: darkturquoise;
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: left;
	font-size: 40px;
	font-weight: bold;
	color : #eee;
}

.searchTable {
	position : absolute;
	top: 200px;
	left: 300px;
}

td, th{
	padding: 20px;
}

.backbutton {
	font-size: 40px;
	background-color :darkturquoise;
	color: #eee;
	display: inline-block;
	border : none;
	outline : none;
}

.backbutton:hover{
	color: black;
}

.cate {
	border : none;
	outline : none;
	width : 300px;
	height : 150px;
	background-image:url(go_to_choose_category.png);
	background-repeat:no-repeat;
	background-color:white;
	background-size:100%;
}

.cate-skip {
	font-size: 20px;
	border: 3px solid darkturquoise;
	border-color : darkturquoise;
	width: 200px;
	height: 100px;
	background-color: white;
	color: darkturquoise;
	letter-spacing: 3px;
	font-weight: bold;
}

	.cate-skip:hover {
		background-color: darkturquoise;
		color: #eee;
		border-color: #eee;
}

.cate:hover {
	background-image: url(go_to_choose_category_hover.png);
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100%;
}

.aspe {
	font-size: 20px;
	border: none;
	outline: none;
	width: 200px;
	height: 80px;
	color: #eee;
	letter-spacing: 3px;
	font-weight: bold;
}

.aspe-skip {
	font-size: 20px;
	border: none;
	outline: none;
	width: 150px;
	height: 60px;
	color: #eee;
	letter-spacing: 3px;
	font-weight: bold;
}

.ok {
	font-size: 20px;
	border: 3px solid;
	border-color: #eee;
	width: 150px;
	height: 100px;
	background-color: white;
	color: #eee;
	position: absolute;
	right: 5%;
	letter-spacing: 3px;
	bottom: 50px;
   font-weight:bold;
}

.ok:hover {


}

#arrow {
	background-image: url(arrow_to_down.png);
	background-size: 100%;
	background-repeat:no-repeat;
	position:absolute;
	left:50%;
	bottom:100px;
	width: 100px;
	height:50px;
}