.header {
  background-color: darkturquoise;
  color: #eee;
  position : relative;
  width : 1272px;
  height : 570px;
}

.buttonPart {
  position : relative;
  width : 1272px;
  height : 100px;
  margin-top : 10px;
}

.popup{
	position : relative;
	width : 300px;
	height : 500px;
	top : -500px;
	left : 300px;
	border : 3px solid #f1f1f1;
	background-color : #eee;
	
	z-index : 3;
}

#closebtn{
	position:absolute;
	float : right;
}

#collectionList{
	border:1px solid #444444;
}

#OKsign{
	position : static;
	background-color : #ddd;
	z-index : 5;
}

#backbutton {
  font-size: 40px;
  background-color :darkturquoise;
  color: #eee;
  display: inline-block;
  border : none;
  outline : none;
  position : absolute;
  top : 55px;
}

#button:hover{
    color:black;
}

h1 {
  font-size : 50px;
  color : white;
  position : absolute;
  top : 10px;
  left : 300px;
}

#firstMovie{
  border : black 2px solid; 
  margin-bottom : 20px;
  position : absolute;
  top : 25%;
  left : 16%;
  
}

#secondMovie {
  border : black 2px solid;
  position : absolute;
  top : 25%;
  left : 57%;
}

#homeButton {
  position : absolute;
  top : 5%;
  right : 2%;
  font-size : 20px;
  font-weight : bold;
  background : #ffffff;
  border-radius : 0.5em;
  padding : 3px 10px;
}

#plusButton {
  font-size : 50px;
  color : #888;
  padding : 5px 20px;
  background : #ffffff;
  border : #888 3px solid;
  border-radius : 0.5em;
}

#plusButton:hover {
  background-color: darkturquoise;
  color: #eee;
  border: #eee 3px solid;
}

.firstPlusButton {
	position : absolute;
	left : 24%;
}

.secondPlusButton {
	position : absolute;
	right : 28%;
}

#refreshButton {
  font-size : 20px;
  color : #888;
  padding : 15px 20px;
  background : #ffffff;
  border : #888 3px solid;
  border-radius : 1em;
  position : absolute;
  left : 44%;
  top : 10%;
}
#refreshButton:hover {
    background-color: darkturquoise;
    color: #eee;
    border: #eee 3px solid;
}