.header {
  background : #95e89e;
  margin-bottom : 10px;
  position : relative;
  width : 1272px;
  height : 600px;
}

.buttonPart {
  position : relative;
  width : 1272px;
  height : 100px;
}

h1 {
  font-size : 50px;
  color : white;
}

#firstMovie{
  margin-bottom : 20px;
}

#secondMovie {
  margin-left : 200px;
  margin-bottom : 20px;
}

#homeButton {
  position : absolute;
  top : 3%;
  right : 5%;
  font-size : 20px;
  font-weight : bold;
  background : #ffffff;
  border-radius : 0.5em;
  padding : 3px 10px;
}

#plusButton {
  font-size : 50px;
  font-weight : bold;
  color : #95e89e;
  padding : 5px 20px;
  background : #ffffff;
  border : #95e89e 5px solid;
  border-radius : 0.5em;
}

#refreshButton {
  font-size : 50px;
  font-weight : bold;
  color : #95e89e;
  padding : 5px 20px;
  background : #ffffff;
  border : #95e89e 5px solid;
  border-radius : 0.5em;
}