.header {
  background-color: darkturquoise;
  color: #eee;
  position : relative;
  width : 1272px;
  height : 530px;
}

.buttonPart {
  position : relative;
  width : 1272px;
  height : 100px;
  margin-top : 10px;
}

#button {
  font-size: 40px;
  background-color :darkturquoise;
  color: #eee;
  display: inline-block;
  border : none;
  outline : none;
  position : absolute;
  top : 2%;
  left : 10%;
}
#button:hover{
    color:black;
}

h1 {
  font-size : 50px;
  color : white;
}

#firstMovie{
  border : black 2px solid; 
  margin-bottom : 20px;
}

#secondMovie {
  border : black 2px solid;
  margin-left : 200px;
  margin-bottom : 20px;
}

#homeButton {
  position : absolute;
  top : 3%;
  right : 5%;
  font-size : 20px;
  font-weight : bold;
  background : #ffffff;
  border-radius : 0.5em;
  padding : 3px 10px;
}

#plusButton {
  font-size : 50px;
  color : #888;
  padding : 5px 20px;
  background : #ffffff;
  border : #888 3px solid;
  border-radius : 0.5em;
}
    #plusButton:hover {
        background-color: darkturquoise;
        color: #eee;
        border: #eee 3px solid;
    }

#refreshButton {
  font-size : 20px;
  color : #888;
  padding : 15px 20px;
  background : #ffffff;
  border : #888 3px solid;
  border-radius : 1em;
}
#refreshButton:hover {
    background-color: darkturquoise;
    color: #eee;
    border: #eee 3px solid;
}