#middle {
	background-image : url("./defaultProfile.png");
	background-repeat : no-repeat;
	background-size : 100%;
	background-position : center;
    position: relative;
	z-index: 1;
    top:0px;
    left: 0px;
    padding: 30px;
    width: 1272px;
    height: 700px;
}
.bgBlur:before {
	content: '';
	position : absolute;
	top: 0; left: 0; right:0; bottom: 0;
	background: inherit;
	z-index: -1;
	filter: blur(4px);
	-webkit-filter: blur(4px);
	-moz-filter: blur (4px);
	-o-filter : blur (4px);
	filter: url(#blur);
}
#tableandbtn{
	background-color: white;
	position : absolute;
	width : 520px;
	height : 400px;
	top : 150px;
	left : 340px;
	border : 1px solid black;
}
#collectiontable {
	background-color: white;
	position : absolute;
	width : 500px;
	height : 340px;
	top : 5px;
	left : 10px;
	max-height : 340px;
	overflow-y : auto;
}
#delete {
	position : absolute;
	bottom : 10px;
	right : 5px;
	font-size : 20px;
	font-weight : bold;
	background : #ffffff;
	border-radius : 0.5em;
	padding : 5px 10px;
}
table {
	position : absolute;
	width : 480px;
	top: 15px;
	left : 15px;
}

th {
	border-bottom : 3px purple dotted;
	height : 50px;
	font-size: 30px;
	padding: 3px;
}

td {
	border-bottom: 2px purple dotted;
	height : 35px;
	font-size: 25px;
	padding : 4px;
}