
body{
	top : 0%;
	left : 0%;
	height :95%;
	width : 95%;
}

h1 {
  font-size : 50px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  margin-left : 50px;
  font-size : 50px;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  text-decoration : underline;
  margin-right : 20px;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background : #3E606F;
  position : absolute;
  width : 100%;
  height : 35%;
  color : #eee;
  z-index : 5;
}

.button {
	position : absolute;
	width : 40px;
	height : 40px;
	top : 40%;
	left : 0%;
}

.profileImg{
	background-color : #3E606F;
	background-repeat : no-repeat;
	background-image : url(./profile1.png);
	background-position : center;
	position : absolute;
	top : 0px;
	left : 40px;
	height : 95%;
	width : 200px;
}

.profileText {
	position : absolute;
	height : 100%;
	top : 15%;
	left : 280px;
}

#backButton {
  font-size: 40px;
  background-color :#3E606F;
  width : 100%;
  height : 100%;
  position : absolute;
  color: #eee;
  display: inline-block;
  border : none;
  outline : none;
  z-index : 1;
}

#backbutton:hover{
	color: black;
	cursor : pointer;
}

#hashtag {
  font-size : 25px;
}

#homeButton {
	border-radius : 0.5em;
  background : #ffffff;
  z-index : 1;
  height : 100%;
  width : 100%;
	font-size : 20px;
  font-weight : bold;
}

#homeButton:hover{
	background-color : #EEEEEE;
	cursor : pointer;
}
.homeButtonPart {
	width : 50px;
	height : 40px;
  position : absolute;
  top : 5%;
  right : 50px;
}

.main {
	position : absolute;
	text-align : center;
	width : 100%;
	height : 60%;
	top : 35%
}

.reviewImg {
	margin-top : 10px;
	background-color : #eee;
	letter-spacing: 2px;
	max-height: 100%;
    overflow-y: auto;
	position : absolute;
	left : 0%;
	width : 50%;
	height : 100%;
}

.review {
	width : 95%;
	height : 70px;
	font-size: 40px;
	padding: 3px;
	font-weight : bold;
	text-align : center;
	font-family: 'Open Sans', sans-serif;
}

#reviewtable{
	width : 95%;
    top:15%;
}

.reviewelem {
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    
}
.reviewelem:hover{
       transform: scale(1.1,1.1);
	cursor: pointer;
}
.collection {
    background-color: #eee;
    font-size: 45px;
    width: 48%;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    left: 50%;
    margin-top: 10px;

}

#collectionTable {
    position: absolute;
    width: 90%;
    top: 15px;
    left: 30px;

}

#plusButton {
	font-size : 20px;
	font-weight : bold;
	background : #ffffff;
	border-radius : 0.5em;
	padding : 5px 10px;
}
#plusButton:hover{
	cursor : pointer;
	background-color: #EEEEEE;
}
.collection_th {
    border-bottom: 2px white solid;
    height: 70px;
    font-size: 40px;
    padding: 3px;
    background-color: #eee;
}
.collection_td {
    border-bottom: 2px white solid;
    height: 50px;
    font-size: 35px;
    padding: 4px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    font-weight: bold;
    background-color: #eee;
}
.collection_td:hover{
    cursor : pointer;
    color: #eee;
    text-shadow:2px 2px 2px #3E606F;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  top : 60%;
  right: 7%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 800px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 88%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */

/* Add a red background color to the cancel button */
.form-container .cancel {
	position : relative;
	top: -10px;
	right : 2px;
	background : #ffffff;
	font-size : 20px;
	font-weight : bold;
	border-radius : 0.5em;
	padding : 5px 10px;
}
.form-container .cancel:hover {
	cursor : pointer;
	background-color : #EEEEEE;
}
#popup_head {
	font-size : 40px;
}

#add {
	position : relative;
	left : 5px;
	background : #ffffff;
	font-size : 20px;
	font-weight : bold;
	border-radius : 0.5em;
	padding : 5px 10px;
}
#add:hover {
	cursor : pointer;
	background-color : #EEEEEE;
}

#middle {
	background-repeat : no-repeat;
	background-size : 100%;
    position: relative;
	z-index: 5;
    top:0px;
    left: 0px;
    padding: 30px;
    width: 100%;
    height: 100%;
}
#modal_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 6;
}
#tableandbtn {
    background-color: white;
    position: absolute;
    width: 450px;
    height: 480px;
    top: 15%;
    left: 38%;
    border: 1px solid black;
    z-index : 7;
}
#collectiontable {
	background-color: white;
	position : absolute;
	width : 95%;
	height : 80%;
	top : 1%;
	left : 2%;
	max-height : 80%;
	overflow-y : auto;
}
#closeth{
	text-align : right;
}
#close{
	background : #ffffff;
	font-size : 20px;
	font-weight : bold;
	border-radius : 0.5em;
	padding : 5px 10px;
}
#close:hover{
	cursor : pointer;
	background-color : #EEEEEE;
}
#delete {
	position : absolute;
	bottom : 2%;
	right : 3%;
	font-size : 20px;
	font-weight : bold;
	background : #ffffff;
	border-radius : 0.5em;
	padding : 5px 10px;
}
#delete:hover{
	cursor : pointer;
	background-color : #EEEEEE;
}

#addmovie {
	position : absolute;
	bottom : 2%;
	left : 3%;
	font-size : 20px;
	font-weight : bold;
	background : #ffffff;
	border-radius : 0.5em;
	padding : 5px 10px;
}
#addmovie:hover{
	cursor : pointer;
	background-color : #EEEEEE;
}


table {
	position : absolute;
	width : 90%;
	top: 3%;
	left : 5%;
}

th {
	border-bottom : 2px #eee solid;
	height : 18%;
	font-size: 30px;
	padding: 3px;
    top:20%;
}
td {
    border-bottom: 2px #eee solid;
    height: 35px;
    font-size: 25px;
    padding: 4px;
    
}
.namerow:hover{
	cursor : pointer;
	background-color: #EEEEEE;
}