
body{
	top : 0%;
	left : 0%;
	height :95%;
	width : 95%;
}

h1 {
  font-size : 50px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  margin-left : 50px;
  font-size : 50px;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  text-decoration : underline;
  margin-right : 20px;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background : #3E606F;
  position : absolute;
  width : 100%;
  height : 35%;
  color : #eee;
  z-index : 5;
}

.button {
	position : absolute;
	width : 40px;
	height : 40px;
	top : 40%;
	left : 0%;
}

.profileImg{
	background-color : #3E606F;
	background-repeat : no-repeat;
	background-image : url(./profile1.png);
	background-position : center;
	position : absolute;
	top : 0px;
	left : 40px;
	height : 100%;
	width : 200px;
}

.profileText {
	position : absolute;
	height : 100%;
	top : 0%;
	left : 280px;
}

#backButton {
  font-size: 40px;
  background-color :#3E606F;
  width : 100%;
  height : 100%;
  position : absolute;
  color: #eee;
  display: inline-block;
  border : none;
  outline : none;
  z-index : 1;
}

#backbutton:hover{
	color: black;
	cursor : pointer;
}

#hashtag {
  font-size : 25px;
}

#homeButton {
	border-radius : 0.5em;
  background : #ffffff;
  z-index : 1;
  height : 100%;
  width : 100%;
	font-size : 20px;
  font-weight : bold;
}

#homeButton:hover{
	background-color : #EEEEEE;
	cursor : pointer;
}
.homeButtonPart {
	width : 50px;
	height : 40px;
  position : absolute;
  top : 5%;
  right : 50px;
}

.main {
	position : absolute;
	text-align : center;
	width : 100%;
	height : 60%;
	top : 35%
}

.reviewImg {
	margin-top : 10px;
	background-color : #eee;
	letter-spacing: 2px;
	max-height: 100%;
    overflow-y: auto;
	position : absolute;
	left : 0%;
	width : 50%;
	height : 100%;
}

.review {
	width : 95%;
	height : 70px;
	font-size: 40px;
	padding: 3px;
	font-weight : bold;
	text-align : center;
	font-family: 'Open Sans', sans-serif;
}

#reviewtable{
	width : 95%;
}


.reviewelem:hover{
	border : 1px solid black;
	cursor: pointer;
}
.collection {
	background-color : #eee;
	font-size : 45px;
	font-weight : bold;
	border: 1px solid;
	width : 48%;
	height : 100%;
    overflow-y: auto;
	position : absolute;
	left : 50%;
	margin-top : 10px;
}

#collectionTable {
	position : absolute;
	width : 90%;
	top: 15px;
	left : 30px;
}

#plusButton {
	font-size : 20px;
	font-weight : bold;
	background : #ffffff;
	border-radius : 0.5em;
	padding : 5px 10px;
}
#plusButton:hover{
	cursor : pointer;
	background-color: #EEEEEE;
}
.collection_th {
	border-bottom : 3px purple dotted;
	height : 70px;
	font-size: 40px;
	padding: 3px;
}
.collection_td {
	border-bottom: 2px purple dotted;
	height : 50px;
	font-size: 35px;
	padding : 4px;
}

.collection_tr:hover{
	background-color : #EEEEEE;
	cursor : pointer;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  top : 60%;
  right: 7%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 800px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 88%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */

/* Add a red background color to the cancel button */
.form-container .cancel {
	position : relative;
	top: -10px;
	right : 2px;
	background : #ffffff;
	font-size : 20px;
	font-weight : bold;
	border-radius : 0.5em;
	padding : 5px 10px;
}
.form-container .cancel:hover {
	cursor : pointer;
	background-color : #EEEEEE;
}
#popup_head {
	font-size : 40px;
}

#add {
	position : relative;
	left : 5px;
	background : #ffffff;
	font-size : 20px;
	font-weight : bold;
	border-radius : 0.5em;
	padding : 5px 10px;
}
#add:hover {
	cursor : pointer;
	background-color : #EEEEEE;
}