#upper-box {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 30px;
	width: 1272px;
	height: 100px;
	background-color: darkturquoise;
	text-align: left;
	font-size: 40px;
	font-weight: bold;
	color : #eee;
}

.backbutton {
	font-size: 40px;
	background-color :darkturquoise;
	color: #eee;
	display: inline-block;
	border : none;
	outline : none;
}

.backbutton:hover{
	color: black;
}

#title {
	position : absolute;
	left : 10%;
	top : 40px;
	font-size : 40px;
}

#homeButton {
	position : absolute;
	right : 10%;
	font-size : 20px;
	font-weight : bold;
	background : #ffffff;
	border-radius : 0.5em;
	padding : 3px 10px;
}

#middle {
	position : absolute;
	top: 160px;
	left: 0px;
	padding : 30px;
	width : 1272px;
	height : 500px;
}
	
#review{
	margin-left : 30px;
}
#review_content{
	margin-left : 30px;
	width : 80%;
	height : 200px;
	text-align : justify;
	font-size : 20px;
}

#content{
	width : 100%;
	height : 300px;
}

#OK_position{
	float:center;
}

#OK{
	background-color : DodgerBlue;
	border : none;
	color: white;
	padding : 12px 16px;
	font-size:16px;
	cursor : pointer;
	margin-top : 30px;
	width : 80%;
	height : 40px;
	margin-left:20px;
}

#OK:hover{
	background-color : RoyalBlue;
}

#OK:disabled{
	border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}